*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Abril Fatface', cursive;
}
.section_one{
    width: 100%;
    height: 1080px;
    background: linear-gradient(white 0 483px, rgb(231, 204, 24) 483px 911px, white 911px 1080px );
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.one_container{
    width: 95.83333333333333%;
    height: 88.42592592592593%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.one_main{
    width: 93.26086956521739%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    height: 136px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav, ul{
    width: 721px;
    height: 44px;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li{
    width: 138px;
    height: 42px;
    /* background-color: blue; */
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    color: rgb(41, 41, 41);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 41px;
    cursor: pointer;
    transition: 0.5s;
}
nav li:hover{
    background-color: rgb(231, 204, 24);
}
.header_logo{
    width: 394px;
    height: 134px;
    background-color: rgb(231, 204, 24);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_logo_place{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_logo_name{
    width: 130px;
    height: 36px;
    color: rgb(41, 41, 41);
    font-family: inherit;
    font-size: 36px;
    font-weight: bold;
    margin-left: 2%;
}
.one_main_info{
    width: 100%;
    height: 812px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.one_main_info_left{
    width: 1077px;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: flex-end;
    position: relative;
}
.one_div_border{
    width: 399px;
    height: 805px;
    border: 6px solid #CACACA;
    border-radius: 5px;
    left: 184px;
    bottom: 30px;
    position: absolute;
    z-index: 6;
}
.one_div_back{
    width: 628px;
    height: 879px;
    background-color: #DADADA;
    position: absolute;
    left: 278px;
    bottom: -60px;
    z-index: 5;
}
.one_second_div_border{
    width: 80px;
    height: 400px;
    border: 6px solid black;
    border-radius: 6px;
    position: absolute;
    bottom: 52px;
    right: -40px;
    z-index: 5;
}

.one_image{
    width: 1053px;
    height: 629px;
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 8;
}
.one_image img{
    width: 100%;
    height: 100%;
}
.footer_info{
    width: 208px;
    height: 20px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}  
.footer_info p{
    font-size: 15px;
    font-family: 'Abril Fatface', cursive;
    color: rgb(204, 204, 204);
}
.one_main_info_right{
    width: 639px;
    height: 730px;
    /* background-color: forestgreen; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.one_main_info_right h3{
    width: 639px;
    height: 147px;
    /* background-color: pink; */
    text-align: end;
    color: rgb(41, 41, 41);
    font-family: 'Abril Fatface', cursive;
    font-size: 71px;
    line-height: 68px;
}
.one_main_info_right p{
    width: 531px;
    height: 174px;
    /* background-color: pink;  */
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}
.one_main_info_right button{
    width: 171px;
    height: 53px;
    background-color: rgb(231, 204, 24);
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
}
.one_main_info_right button:hover{
    background-color: rgb(163, 144, 16);
    color: white;
}
.one_main_info_right_contact{
    width: 195px;
    height: 175px;
    /* background-color: brown; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one_main_info_right_contact_name{
    width: 147px;
    height: 36px;
    /* background-color: rgb(50, 200, 205); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.one_main_info_right_contact_name p{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    font-size: 14px;
    color: black;
    text-align: end;
}
.one_main_info_right_contact_logo{
    width: 36px;
    height: 36px;
    /* background-color: rgb(50, 205, 205); */
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.one_main_info_right_contact_logo i{
    font-size: 28px;
    color: white;
    transition: 0.5s;
}
.one_main_info_right_contact .one_main_info_right_contact_logo:nth-child(2){
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0%;
}
.one_main_info_right_contact_logo i:hover{
    color: rgb(231, 204, 24);
}